{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Andro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    
</head>

<body>
    <nav>
        <div class="flex justify-around border-2 mx-4 my-2 p-2 border-black">
            <ul>
                <li class="cursor-pointer p-1 border-2 border-transparent font-bold"><a href="{% url 'home' %}">Andro</a></li>
            </ul>
            <ul class="flex space-x-20">
                <li class="font-semibold cursor-pointer p-1 border-2 border-transparent hover:border-2 hover:border-black {% if  request.path == '/' %}text-gray-500{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                <li class="font-semibold cursor-pointer p-1 border-2 border-transparent hover:border-2 hover:border-black {% if  request.path == '/about' %}text-gray-500{% endif %}"><a href="{% url 'about' %}">About</a></li>
                <li class="font-semibold cursor-pointer p-1 border-2 border-transparent hover:border-2 hover:border-black {% if  request.path == '/contact' %}text-gray-500{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        
    </nav>

    {% block content %}{% endblock content %}

</body>

</html>